*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url("../img/seccion1.jpg");
}
.navegacion{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 5px;
}
.navegacion img{
    height: 100px;
    width: 100px;
    margin-left: 50px ;
}
.arriba ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}
.arriba ul li{
    margin-left: 10px ;
    display: inline-block;
    padding: 5px;
    position: relative;
}
.arriba ul li::before{
    content: "";
    height: 3px;
    background-color: grey;
    position: absolute;
    left: 0;
    bottom: -17px;
    transition: 0.4s ease-out;
}
.arriba ul li:hover::before{
    width: 100%;
}
.arriba a{
    color:black;
}
.encabezado{
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 50px;
    align-content: center;
    align-items: center;
}
.info{
    background-image: url("../img/seccion2.jpg");
    display: flex;
    flex-wrap: wrap;
}
.img1{
    display: flex;
    margin-left: 10%;   
    margin-top: 100px;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
.info img{
    height: 200px;
    width: 200px;
}
.img2{
    display: flex;
    margin-top: 50px;
    width: 100%;
    justify-content: flex-end;
    margin-right:10% ;
    align-items: center;
}
.seccion2{
    width: 100%;
    display: flex;
    justify-content: center;
}
.contactenos{
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    background-image: url("../img/fondo2.jpg");
}
form{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px ;
}
.contactenos input{
    margin-top: 20px;
    border-radius: 5px;
    width: 500px;
    height: 50px;
    border: none;
}
form .descripcion{
    height: 90px;
}
.btnenviar{
    cursor: pointer;
}
.nosotros{
    background-color:rgba(255, 255, 255, .5);
    text-align: center;
    
}
.nosotros .p{
    display: flex;
    justify-content: center;
}
footer{
    background-color: grey;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
footer .redes{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
.world{
    width: 20px;
    height: 20px;
}
.ver-mas{
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: red;
    color: white;
}
.info .porque{
    width: 100%;
    text-align: center;
}
